<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIv1" receiveTimeout="00:10:00"
            sendTimeout="00:10:00" allowCookies="true" maxReceivedMessageSize="999999999" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://foundation.rangerfox.com/rangerfox/foundation/API/APIv1.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIv1"
          contract="API.IAPIv1" name="BasicHttpBinding_IAPIv1" />
      <metadata>
        <wsdlImporters>
          <extension type="WCFExtras.Wsdl.Documentation.XmlCommentsImporter, WCFExtras" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
</configuration>